body {
  margin: 0 100px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.main-title {
  margin-left: 11%;
  width: 100%;
  text-align: center;
}

.delete {
  padding: 5px;
}

.table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

#Book-form {
  margin: 175px 0;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#Add-Book {
  /* margin-left: 22%; */
  padding: 5px;
  width: 100px;
}

#Book-form input {
  width: 30%;
  height: 25px;
  margin: 5px;
}

tr {
  display: flex;
  align-items: baseline;
}

td {
  align-items: center;
  padding: 2px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #bbb6b6;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(odd) {
  justify-content: space-between;
  align-items: center;
}

.table li {
  text-align: left;
  width: 100%;
  list-style: none;
}

.navbar {
  border: 2px solid grey;
  border-radius: 10px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .nav-title {
  font-weight: bold;
  font-size: 18px;
  padding: 0 12px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  margin-right: 15px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 0 12px;
  font-size: 16px;
  cursor: pointer;
}

.line {
  border-right: 2px solid grey;
}

.footer {
  text-align: left;
  border: 2px solid grey;
  font-size: 18px;
  padding: 5px 12px;
}

.d-none {
  display: none !important;
}

h1,
h2 {
  text-align: center;
}

.inner-contact {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
  height: 310px;
}

.inner-contact ul {
  margin-left: 38%;
  width: 50%;
  text-align: center;
}

.inner-contact ul li {
  text-align: left;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0;
  }

  .navbar ul li a {
    padding: 0 0;
    font-size: 13px;
  }

  #Book-form input {
    width: 90%;
    margin: 7px;
  }

  .inner-contact ul {
    line-height: 32px;
    margin-left: 0%;
    width: 70%;
    text-align: center;
  }
}
