.main-title {
  margin-left: 11%;
  width: 80%;
  text-align: center;
}

.delete {
  padding: 5px;
}

.table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  border: 1px solid #ddd;
}

#Book-form {
  margin-top: 20px;
  justify-content: center;
  width: 80%;
  padding-left: 43%;
}

.separator {
  margin-top: 40px;
  background-color: black;
  width: 30%;
  height: 4px;
}

#Add-Book {
  margin: 5px;
  padding: 5px;
}

#Book-form input {
  height: 25px;
  margin: 5px;
}

tr {
  display: flex;
  align-items: baseline;
}

td {
  align-items: center;
  padding: 2px;
}